.banner {
    display: block;
    padding: 5px;
    margin: 0;
    margin-top: 50px;
    width: 100vw;
    height: 80vh;
    position: relative;
}

.bannerText {
    position: relative;
    top: 150px;
    z-index: 20;
    text-align: center;
    color: white;
}